In [ ]:
numbers = [10,20,30,20,10,50,60,40,80,50,40]

In [ ]:
# 중복 제거

In [ ]:
words = ['aa', 'abc', 'xyz', 'aba', '1221']

In [ ]:
# 문자열 크기가 2보다 더 크고 첫번째와 마지막 글자가 같은 문자열의 갯수

In [ ]:
students = [{'id': 1, 'mid': 80, 'name': 'Lary'}, 
            {'id': 2, 'mid': 78, 'name': 'Rabi'}, 
            {'id': 3, 'mid': 98, 'name': 'Ester'}, 
            {'id': 4, 'mid': 73, 'name': 'John'}, 
            {'id': 5, 'mid': 94, 'name': 'Berry'}, 
            {'id': 6, 'mid': 88, 'name': 'Bob'}, 
            {'id': 7, 'mid': 80, 'name': 'Alex'}, 
            {'id': 8, 'mid': 90, 'name': 'Andy'}, 
            {'id': 9, 'mid': 84, 'name': 'Beth'}, 
            {'id': 10, 'mid': 76, 'name': 'Cindy'}]

In [ ]:
# mid 점수가 80 이상인 학생수